@use '../variables.scss' as vars;

.container {
	position: fixed;
	height: max-content;
	background-color: vars.$color-text-primary;
	border: 1px solid vars.$color-text-primary;
	border-radius: vars.$dropdown-border-radius;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	gap: 1px;

	h5 {
		padding: 0.2rem 0.5rem;
		cursor: pointer;
		position: relative;
		background-color: vars.$color-background;
		font-weight: 500;

		&:hover {
			background-color: vars.$color-highlight;
		}
	}
}
