@import '../variables.scss';

.dropdownContainer {
	width: 100%;
	height: max-content;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	user-select: none;
	position: relative;

	.dropdown_label_container {
		width: 100%;
		height: max-content;
		padding: $dropdown-section-padding;
		border-radius: $dropdown-border-radius;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		*:not(.textbox) {
			pointer-events: none;
		}

		&:hover {
			background-color: $color-primary;

			.dropdown_label {
				color: $color-background;
			}
		}

		.dropdown_label {
			width: 100%;
			font-weight: $filter-option-label-font-weight;
		}

		.dropdown_active_symbol {
			$symbol-offset: 0.25rem;

			transform: translateY(-$symbol-offset);

			&.dropped {
				transform: translateY($symbol-offset);
			}
		}

		// .textbox {
		// 	width: 5rem;
		// 	height: 1.5rem;
		// 	border: 1px solid $color-text-primary;
		// 	border-radius: $dropdown-border-radius;
		// 	padding: 0 0.5rem;
		// }
	}

	.options {
		width: 100%;
		height: max-content;
		display: none;
		flex-flow: column nowrap;
		padding-left: 0.5rem;
		align-items: center;
		position: relative;

		h4 {
			width: 100%;
			font-weight: 400;
		}

		&.show {
			display: flex;
		}

		.optionSearchbar {
			width: 100%;
			height: 2rem;
			border: 1px solid $input-border-color;
			border-radius: 0.5rem;
			padding: 0 0.5rem;
			font-size: small;
			margin: 0.5rem 0;

			&:focus {
				outline: none;
			}
		}
	}
}
