@use '../variables.scss' as vars;

.dropdownContainer {
	width: 100%;
	height: max-content;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	user-select: none;
	position: relative;

	.dropdown_label_container {
		width: 100%;
		height: max-content;
		background-color: vars.$color-surface;
		padding: vars.$dropdown-section-padding;
		border-radius: vars.$dropdown-border-radius;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		*:not(.textbox) {
			pointer-events: none;
		}

		.dropdown_label,
		.dropdown_active_symbol {
			color: vars.$filter-dropdown-color;
			font-weight: vars.$filter-dropdown-font-weight;
		}

		&:hover {
			background-color: vars.$color-hover;

			// .dropdown_label,
			// .dropdown_active_symbol {
			// 	color: vars.$color-text-primary;
			// }
		}

		.dropdown_label {
			width: 100%;
		}

		.dropdown_active_symbol {
			$symbol-offset: 0.25rem;

			transform: translateY(-$symbol-offset);

			&.dropped {
				transform: translateY($symbol-offset);
			}
		}

		// .textbox {
		// 	width: 5rem;
		// 	height: 1.5rem;
		// 	border: 1px solid vars.$color-text-primary;
		// 	border-radius: vars.$dropdown-border-radius;
		// 	padding: 0 0.5rem;
		// }
	}

	.options {
		width: 100%;
		height: max-content;
		display: none;
		flex-flow: column nowrap;
		padding-left: 0.5rem;
		align-items: center;
		position: relative;

		h4 {
			width: 100%;
			font-weight: 400;
		}

		&.show {
			display: flex;
		}

		.optionSearchbar {
			width: 100%;
			height: 2rem;
			border: 1px solid vars.$color-input-border;
			border-radius: 0.5rem;
			padding: 0 0.5rem;
			font-size: small;
			margin: 0.5rem 0;

			&:focus {
				outline: none;
			}
		}
	}
}
