@use '../mixins.scss';
@import '../variables.scss';

.option {
	width: 100%;
	height: max-content;
	display: flex;
	flex-flow: column nowrap;
	cursor: pointer;

	* {
		user-select: none;
	}

	.label {
		font-weight: 400;
	}

	&[data-is-solo='true'] {
		&:not(:has(.checkbox)) {
			pointer-events: none;
			cursor: crosshair;

			.optionContainer {
				.label {
					color: $color-text-primary;
				}
			}
			.optionContainer:hover {
				background-color: inherit;
			}
		}
		.label {
			width: 100%;
			font-weight: $filter-option-label-font-weight;
			text-align: start;
		}
	}

	.optionContainer {
		width: 100%;
		height: $dropdown-section-height;
		border-radius: $dropdown-border-radius;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		padding: $dropdown-section-padding;

		// .label,
		// .checkbox,
		// .radio {
		// 	color: $color-text-secondary;
		// 	border-color: $color-text-secondary;

		// 	&::after {
		// 		background-color: $color-text-secondary;
		// 	}
		// }

		&:active {
			pointer-events: none;
		}

		&:hover {
			background-color: $color-primary;

			.label,
			.checkbox,
			.radio {
				color: $color-background;
				border-color: $color-background;

				&::after {
					background-color: $color-background;
				}
			}
		}

		.checkbox {
			width: 1rem;
			height: 1rem;
			border: 1px solid black;
			border-radius: 0.15rem;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			&::after {
				background-color: black;
			}

			&[data-checked='true'] {
				border-width: 2px;

				&::after {
					content: '';
					width: 0.45rem;
					height: 0.45rem;
					// margin: 0px 0px 1px 0px;
				}
			}
		}

		.radio {
			width: 1rem;
			height: 1rem;
			border: 1px solid black;
			border-radius: 50%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			&::after {
				background-color: black;
			}

			&[data-checked='true'] {
				border-width: 2px;

				&::after {
					content: '';
					width: 0.45rem;
					height: 0.45rem;
					border-radius: 50%;
				}
			}
		}

		.numberBox {
			width: 7ch;
			height: 1.5rem;
			padding: 0 0.5ch;
			font-size: medium;
			font-weight: 400;
			pointer-events: all;
		}

		.textbox {
			width: 7rem;
			height: 1.5rem;
			padding: 0 0.5ch;
			font-size: medium;
			font-weight: 400;
			pointer-events: all;
		}
	}

	.selectedItemsContainer {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem 0.5rem;
		justify-content: center;
		align-items: flex-start;
		padding: 0.2rem;

		.item {
			@include mixins.selected_autocomplete_item;
		}
	}
}
