@use '../mixins.scss';

.option {
	width: 100%;
	height: max-content;
	display: flex;
	flex-flow: column nowrap;
	cursor: pointer;

	* {
		user-select: none;
	}

	.label {
		font-weight: 400;
	}

	&[data-is-solo='true'] {
		&:not(:has(.checkbox)) {
			pointer-events: none;
			cursor: crosshair;

			.optionContainer:hover {
				background-color: inherit;
			}
		}
		.label {
			width: 100%;
			font-weight: var(--filter-option-label-font-weight);
			text-align: start;
		}
	}

	.optionContainer {
		width: 100%;
		height: var(--dropdown-section-height);
		border-radius: var(--dropdown-border-radius);
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		padding: var(--dropdown-section-padding);

		&:active {
			pointer-events: none;
		}

		&:hover {
			background-color: var(--color-light-grey);
		}

		.checkbox {
			width: 1rem;
			height: 1rem;
			border: 1px solid black;
			border-radius: 0.15rem;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			&[data-checked='true'] {
				border-width: 2px;

				&::after {
					content: '';
					width: 0.45rem;
					height: 0.45rem;
					background-color: black;
					// margin: 0px 0px 1px 0px;
				}
			}
		}

		.radio {
			width: 1rem;
			height: 1rem;
			border: 1px solid black;
			border-radius: 50%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			&[data-checked='true'] {
				border-width: 2px;

				&::after {
					content: '';
					width: 0.45rem;
					height: 0.45rem;
					border-radius: 50%;
					background-color: black;
				}
			}
		}

		.numberBox {
			width: 7ch;
			height: 1.5rem;
			padding: 0 0.5ch;
			font-size: medium;
			font-weight: 400;
			pointer-events: all;
		}

		.textbox {
			width: 7rem;
			height: 1.5rem;
			padding: 0 0.5ch;
			font-size: medium;
			font-weight: 400;
			pointer-events: all;
		}
	}

	.selectedItemsContainer {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem 0.5rem;
		justify-content: center;
		align-items: flex-start;
		padding: 0.2rem;

		.item {
			@include mixins.selected_autocomplete_item;
		}
	}
}
