@import '../variables.scss';

.container {
	width: 100%;
	height: 2.5rem;
	border: 1px solid $input-border-color;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;

	.search_input {
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
		color: black;
		font-size: medium;

		&::placeholder {
			color: $placeholder-color;
		}

		&:focus {
			outline: none;
		}
	}

	.search_button {
		flex: none;
		width: 1.8rem;
		height: 1.8rem;
		border: 2px solid $color-primary;
		border-radius: 50%;
		background-color: $color-background;
		color: $color-primary;
		font-size: larger;
		font-weight: 600;
		padding-bottom: 0.12rem;

		&:hover {
			background-color: $color-primary;
			color: $color-background;
		}
	}
}
