@use '../variables.scss' as vars;

.container {
	position: relative;
	width: 25rem;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	gap: 1rem;
	padding: 2rem 0.5rem 0.5rem 1rem;
	border-right: vars.$section-border-style;
	background-color: vars.$color-surface;

	.filters_btn {
		display: none;
		width: max-content;
		height: max-content;
		padding: 0.4rem 0.7rem;
		background-color: vars.$color-primary;
		color: vars.$color-background;
		font-size: 1rem;
		border-radius: 0.5rem;
	}

	.searchbarContainer {
		width: 100%;
		height: max-content;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		scrollbar-gutter: stable;
	}

	.filterContainer {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		padding-bottom: 6rem;
		scrollbar-gutter: stable;

		.filters {
			width: 100%;
			height: max-content;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			gap: 0.5rem;
		}
	}
}

@media (max-width: vars.$mobile-max-width) {
	.container {
		position: absolute;
		width: 100%;
		height: max-content;
		z-index: 1;
		padding: 0;
		align-items: flex-end;
		background-color: inherit;
		padding: 1rem;

		.filters_btn {
			display: block;
		}

		.searchbarContainer,
		.filterContainer {
			display: none;
		}

		&.show {
			display: flex;
			position: absolute;
			height: 100%;
			background-color: vars.$color-background;

			.searchbarContainer {
				display: flex;
			}
			.filterContainer {
				display: block;
			}
		}
	}
}
