.container {
	width: 25rem;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	gap: 1rem;
	padding: 2rem 0.5rem 0.5rem 1rem;
	border-right: var(--section-border-style);
	// box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.6);

	.searchbarContainer {
		width: 100%;
		height: max-content;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		scrollbar-gutter: stable;
	}

	.filterContainer {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		padding-bottom: 6rem;
		scrollbar-gutter: stable;

		.filters {
			width: 100%;
			height: max-content;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			gap: 0.5rem;
		}
	}
}
