@use '../mixins.scss';
@use '../variables.scss' as vars;

.contents {
	display: none;
	position: absolute;
	width: 12rem;
	height: max-content;
	top: 3.5rem;
	user-select: none;
	flex-flow: column nowrap;
	background-color: vars.$color-background;
	padding: 0.5rem;
	border: vars.$section-border-style;
	border-radius: 0.5rem;
	box-shadow: 0.15rem 0.15rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	z-index: 1;

	.setting_text {
		cursor: pointer;
		border-radius: 0.5rem;

		&:hover {
			background-color: vars.$color-highlight;

			h4,
			h5 {
				color: vars.$color-background;
			}
		}

		h5 {
			padding: 0.5rem 0.5rem;
			font-weight: 600;
			opacity: 0.6;
		}
	}
}
