@use '../variables.scss' as vars;

.container {
	width: 100%;
	height: vars.$nav-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	border-bottom: vars.$section-border-style;
	flex-shrink: 0;
	background-color: vars.$color-surface;

	.left {
		.title {
			color: vars.$color-accent;
		}
	}

	.right {
		width: max-content;
		height: 100%;
		display: flex;
		align-items: center;

		.nav_icon_container {
			height: max-content;
			display: flex;
			align-items: center;
			user-select: none;
			border-radius: 0.5rem;
			padding: 0.6rem;
			cursor: pointer;

			&:hover,
			&.active {
				background-color: rgba(vars.$color-highlight, 1);

				.heartImg,
				.profileImg,
				svg {
					* {
						fill: vars.$color-background;
						stroke: vars.$color-background;
					}
				}
			}

			.heartImg,
			.profileImg,
			svg {
				width: 1.5rem;
				height: auto;
				pointer-events: none;
			}
		}

		.profile_link {
			.profile_container {
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				padding: 0.5rem 0;
				border-bottom: vars.$section-border-style;

				.username,
				.edit_profile_text {
					width: max-content;
					padding: 0;
				}

				.edit_profile_text {
					font-weight: 400;
				}
			}
		}
	}
}
