@use '../variables.scss' as vars;

.container {
	width: 100%;
	height: vars.$nav-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	border-bottom: vars.$section-border-style;
	flex-shrink: 0;
	background-color: vars.$color-surface;

	.left {
		.title {
			color: vars.$color-accent;
			font-size: 2rem;
			font-weight: 400;
		}
	}

	.right {
		width: max-content;
		height: 100%;
		display: flex;
		align-items: center;

		.login_text {
			font-weight: 400;
		}

		.nav_icon_container {
			height: max-content;
			display: flex;
			align-items: center;
			user-select: none;
			border-radius: 0.5rem;
			padding: 0.6rem;
			cursor: pointer;
			border: 1px solid transparent;

			&:hover,
			&.active {
				background-color: vars.$color-hover;

				svg {
					* {
						fill: vars.$color-primary;
						stroke: vars.$color-primary;
					}
				}
			}

			svg {
				width: 1.5rem;
				height: auto;
				pointer-events: none;

				* {
					fill: vars.$color-text-secondary;
					stroke: vars.$color-text-secondary;
				}
			}
		}

		.profile_link {
			.profile_container {
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				padding: 0.5rem 0;
				border-bottom: vars.$section-border-style;

				.username,
				.edit_profile_text {
					width: max-content;
					padding: 0;
				}

				.username {
					// font-family: font_semibold;
				}

				.edit_profile_text {
					// font-weight: 400;
				}
			}
		}
	}
}

@media (max-width: vars.$mobile-max-width) {
	.container {
		.left {
			.title {
				text-indent: -99999px;

				&::before {
					text-indent: 0;
					content: 'TCK';
					float: left;
					font-weight: 600;
					font-size: 2.2rem;
				}
			}
		}
	}
}
