@use './mixins.scss';

.autocomplete_container {
	width: 100%;

	.selected_ingredients {
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem;
		margin-top: 1rem;

		.selected_ingredient {
			@include mixins.selected_autocomplete_item;

			font-weight: 600;
			color: rgb(50, 50, 50);
		}
	}
}
