.container {
	position: relative;
	width: 100;
	height: 100%;
	overflow-y: auto;
	display: flex;
	justify-content: center;

	.recipe_container {
		width: 100%;
		max-width: 40rem;
		height: max-content;
		padding: 2rem;
		padding-bottom: 10rem;

		.title {
			width: 100%;
			text-align: start;
			font-size: 2.5rem;
		}

		.star_time_container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			gap: 2rem;
			margin-top: 0.5rem;

			.timeToReadyContainer {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				gap: 0.5rem;

				svg {
					width: 1rem;
					height: auto;
				}

				.timeToReady {
				}
			}
		}

		.summary {
			margin-top: 0.5rem;
		}

		.save_container {
			width: 100%;
			height: max-content;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 0.5rem;

			.save_button {
				width: max-content;
				height: max-content;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				gap: 0.5rem;
				padding: 0.5rem 0.8rem;
				background-color: var(--heart-color);
				border-radius: 0.3rem;

				&.is_saved:disabled,
				&:disabled {
					filter: brightness(0.8);
				}

				&:hover svg path {
					fill: white;
				}

				&.is_saved svg path {
					fill: white;
				}
				&.is_saved {
					background-color: #28a745;
				}

				.save_text {
					// font-weight: 500;
					color: white;
				}

				svg {
					width: 1.2rem;
					height: auto;

					path {
						fill: none;
						stroke: white;
						stroke-width: 26px;
					}
				}
			}
		}

		.image_container {
			width: 100%;
			height: max-content;
			margin-top: 1rem;

			.image {
				width: 100%;
				height: auto;
			}
		}

		.ingredient_container {
			display: block;
			margin-top: 2rem;

			.ingredients_text {
				margin-bottom: 1rem;
			}

			.serving_container {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				gap: 0.5rem;

				// label {
				// }

				input {
					text-align: center;
					width: 4ch;
					height: 1.5rem;
					box-sizing: border-box;
					padding: 0;

					&:focus {
						border-width: 2px;
					}
				}
			}

			.ingredient_list {
				display: flex;
				flex-flow: column nowrap;
				gap: 1rem;
				list-style-position: inside;
				margin-left: 0.5rem;
				margin-top: 0.5rem;

				.ingredient_item {
					display: list-item;

					&::marker {
						content: '•';
					}

					.amount {
						width: max-content;
						margin-left: 0.5rem;
					}

					.unit {
						width: max-content;
					}

					.name {
						width: max-content;
					}
				}
			}
		}

		.instructions_container {
			display: block;
			margin-top: 4rem;

			.instructions_text {
				display: block;
			}

			.instruction_group {
				display: block;
				margin-top: 1rem;

				.instruction_group_name {
					display: block;
					margin-bottom: 0.5rem;
				}

				.instruction_group_list {
					display: flex;
					list-style-position: inside;
					flex-flow: column nowrap;
					gap: 1rem;
					margin-left: 0.5rem;

					.instruction_step {
						display: list-item;

						&::marker {
							font-weight: bold;
						}
					}
				}
			}
		}

		.src_container {
			width: 100%;
			margin-top: 4rem;
			display: flex;
			justify-content: center;

			.src_text {
				font-size: 0.9rem;
				font-weight: 600;

				.src_link {
					color: #0000ff;
					text-decoration: underline;
				}
			}
		}
	}
}
