.container {
	position: relative;
	cursor: pointer;
	align-self: flex-start;
	width: 18rem;
	height: max-content;
	max-width: none;
	gap: 0.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content max-content 1fr;
	grid-template-areas:
		'mealImage'
		'title'
		'stars';
	justify-content: center;
	aspect-ratio: unset;
	box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.7);
	user-select: none;
	border: none;
	box-sizing: border-box;
	padding: 0;
	border-radius: 0.5rem;

	> *:not(.meal_image) {
		padding: 0 0.5rem;
	}

	.meal_image {
		grid-area: mealImage;
		object-fit: cover;
		user-select: none;
		width: 100%;
		aspect-ratio: 16/10;
		object-position: center;
		border-radius: 0;
	}

	.title {
		grid-area: title;
		width: 100%;
		font-size: large;
		font-weight: 600;
		color: black;
		text-align: start;
	}

	.stars {
		grid-area: stars;
		width: 100%;
		align-self: end;

		.star {
			width: 100%;
			height: max-content;

			svg {
				height: 1rem;
				width: auto;

				path {
					stroke-width: 5px;
				}
			}

			&.half {
				svg > path {
					fill: url(#grad);
				}
			}

			&.empty {
				svg > path {
					fill: none;
				}
			}
		}
	}

	.summary {
		grid-area: summary;
		display: none;
	}
}
