.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    scrollbar-gutter: stable both-edges;

    .results {
        width: 100%;
        height: max-content;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2rem 4rem;
    }
}