.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 10rem;
    height: auto;

    .title {
        text-align: center;
        font-weight: 400;
    }

    .image {
        width: 100%;
        height: auto;
    }
}