@use './variables.scss' as vars;

.container {
	position: relative;
	width: 100%;
	overflow: visible;
	margin: 1.5rem 0;

	.placeholder {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		font-size: 0.9rem;
		font-weight: 400;
		font-family: font_semibold;
		pointer-events: none;
		transform: translate(0.5rem, 0.5rem);
		transition:
			transform 0.15s ease-out,
			opacity 0.15s ease-out;
		opacity: 0.5;
		text-transform: capitalize;
		color: vars.$color-placeholder;
	}

	&:has(.has_text) {
		.placeholder {
			transform: translate(0, -1.8rem);
			opacity: 1;
		}
	}

	input {
		width: 100%;
		height: 2.5rem;
		border-radius: vars.$dropdown-border-radius;
		padding-left: 0.5rem;
		border-color: lightgray;
		background-color: vars.$color-surface;

		&:valid {
			&.matches {
				border-color: limegreen;
			}
			&.noMatch {
				border-color: red;
			}
		}
	}
}
