@use './variables.scss' as vars;

.container {
	width: max-content;
	display: flex;
	flex-flow: row nowrap;
	gap: 0.2rem;

	.star {
		width: max-content;
		height: max-content;

		svg {
			height: 0.8rem;
			width: auto;

			path {
				stroke-width: 5px;
				fill: vars.$color-stars;
				stroke: vars.$color-stars;
			}
		}

		&.half {
			svg > path {
				fill: url(#grad);
			}
		}

		&.empty {
			svg > path {
				fill: none;
			}
		}
	}
}
