.container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;
	padding: 1rem 0 3rem 0;

	.options {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.view {
			cursor: pointer;
			user-select: none;
		}
	}

	.total_results_text_container {
		width: 100%;
		display: flex;
		margin-left: 1rem;

		.total_results_text {
			font-weight: 400;

			.result_count {
				font-weight: 600;
			}
		}
	}

	.results {
		width: 100%;
		height: max-content;
		display: flex;
		padding: 1rem 1rem 2rem 1rem;
		flex-flow: row wrap;
		align-items: flex-end;
		justify-content: flex-start;
		gap: 2rem 4rem;
	}

	.pagination {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.pagination_btn {
			color: white;
			background-color: black;
			width: 2rem;
			aspect-ratio: 1/1;
			border: 2px solid black;
			border-radius: 50%;

			&:hover,
			&.active {
				background-color: white;
				color: black;
			}
		}

		.side_btns {
			font-size: 1.1rem;
			background-color: transparent;
			display: flex;
			align-items: center;
			gap: 0.3rem;

			.text:hover {
				text-decoration: underline;
			}

			.arrow {
				font-size: x-large;
			}
		}
	}
}
