@use '../variables.scss' as vars;

.container {
	position: relative;
	cursor: pointer;
	align-self: flex-start;
	gap: 0.5rem;
	height: 20rem;
	display: grid;
	grid-template-columns: 18rem;
	grid-template-rows: 1fr max-content max-content;
	grid-template-areas:
		'mealImage'
		'title'
		'bottomSection';
	justify-content: center;
	// box-shadow: 0.08rem 0.08rem 0.5rem rgba(0, 0, 0, 0.6);
	box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
	user-select: none;
	box-sizing: border-box;
	border-radius: 0.5rem;
	background-color: vars.$color-surface;
	padding: 0.5rem;
	overflow: visible;

	// transition: transform 0.05s linear;

	&:hover {
		// transform: scale(1.02);

		box-shadow: 0rem 0rem 0.7rem rgba(0, 0, 0, 0.4);

		// outline: 3px solid $color-primary;
	}

	> *:not(.meal_image) {
		// padding: 0 0.5rem;
	}

	.popularity_badge_container {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		border-radius: 0.5rem;
		overflow: visible;

		svg {
			transform: translate(30%, -30%);
			width: 1.5rem;
			height: auto;
		}
	}

	.meal_image_container {
		grid-area: mealImage;
		// padding: 0.5rem;
		// padding-bottom: 0;

		.meal_image {
			border-radius: 0.5rem;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.title {
		grid-area: title;
		width: 100%;
		font-size: large;
		font-weight: 400;
		color: vars.$color-text-primary;
		text-align: start;
	}

	.bottomSection {
		grid-area: bottomSection;
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		.timeToReadyContainer {
			width: max-content;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			gap: 0.2rem;

			svg {
				width: 0.9rem;
				height: auto;

				* {
					stroke: vars.$color-text-secondary;
					fill: vars.$color-text-secondary;
				}
			}

			.timeToReady {
				color: vars.$color-text-secondary;
				font-size: 0.9rem;
			}
		}
	}

	.summary {
		grid-area: summary;
		display: none;
	}
}
