@use './styles/variables.scss' as vars;

:root {
	width: 100%;
	height: 100%;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-protein: #{vars.$color-protein};
	--color-fats: #{vars.$color-fats};
	--color-carbs: #{vars.$color-carbs};
	--color-accent: #{vars.$color-accent};
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	color: vars.$color-text-primary;
}

a {
	// font-weight: 500;
	font-weight: inherit;
	// color: #646cff;
	color: inherit;
	text-decoration: inherit;
}
// a:hover {
//   color: #535bf2;
// }

input {
	outline: none;
	border: 1px solid black;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: vars.$color-background;
}

h1 {
	font-size: 3.2em;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// li,
// button,
// label {
// 	color: $color-text-primary;
// }

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
}

// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) or (prefers-color-scheme: dark) {
// 	:root {
// 		--color-background: #f0efef;
// 		--color-text-primary: #2a2a2a;
// 		--color-primary: #9dc9b0;
// 		--color-secondary: #619e88;
// 		--color-accent: #d4a76a;
// 	}

// }
