@use '../mixins.scss';
@use '../variables.scss' as vars;

.login_form {
	display: flex;
	flex-flow: column nowrap;
	max-width: 30rem;
	width: 100%;
	gap: 1rem;

	$input_section_padding: 1.5rem;

	.submitBtnContainer {
		width: 100%;
		display: flex;
		justify-content: center;

		button {
			width: 100%;
			background-color: vars.$color-accent;
			color: vars.$color-background;
			padding: 0.8rem 1rem;
			border-radius: 0.5rem;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}
